* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/**************************************** helper class css******************************************/
.w-9 {
  width: calc(900% / 12);
  margin: 0px auto;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
a:link,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
.tinyone {
  background-color: #fcdb00;
  /* height:100vh; */
  padding: 60px 0px 105px 0px;
}
.col1,
.col2,
.col4,
.col3,
.col9,
.col12
 {
  float: left;
  padding: 0px 15px;

}
.col1{
	width: calc(100% / 12);
}
.col12 {
  width: 100%;
}
.col2 {
  width: 50%;
}
.col4 {
  width: calc(100% / 3);
}
.col3 {
  width: 25%;
}
.col9 {
  width: 75%;
}

.row,
.row::after,
.row::before {
  clear: both;
  display: table;
  width: 100%;
}
.row > :first-child {
  padding-left: 0;
}
.row > :last-child {
  padding-right: 0;
}
.mb-68{
  margin-bottom: 68px;
}
.container {
  width: 932px;
  margin: 0 auto;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-90 {
  margin-bottom: 90px;
}
.mb-40 {
  margin-bottom: 40px;
}


/************************************************ header section css***************************************/
.navbar ul,
.icon li {
  list-style: none;
  display: inline-block;
}
.navbar ul li {
  display: inline-block;
  margin: 0px 10px;
}
.navbar ul li a {
  display: inline-block;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: bold;
  padding: 0 9px;
  color: #010101;
  font-family: "PT Sans", sans-serif;
}
.navbar ul li a.active,
.navbar ul li a:hover,
.navbar ul li a:focus,
.navbar ul li a:active {
  font-weight: lighter;
  font-family: "Montserrat", sans-serif;
}
.subheading {
  padding-right: calc(100% / 6);
}
.ipad {
  padding: 0 0 0 calc(100% / 6);
}

.sec-subheading {
  font-size: 32px;
  font-weight: bold;
  color: #010101;
  margin-top: 74px;
  font-family: "PT Sans", sans-serif;
}

.sec-subheading1 {
  font-size: 20px;
  font-weight: lighter;
  color: #313841;
  margin: 24px 0px;
  font-family: "PT Sans", sans-serif;
}

.sec-para {
  font-size: 16px;
  font-weight: lighter;
  color: #555;
  margin-bottom: 42px;
  font-family: "PT Sans", sans-serif;
}
.icon li a i {
  color: #010101;
  font-size: 42px;
  margin: 9px;
  padding: 10px;
  margin-left: -9px;
}

.ipad img {
  /* margin-left:110px; */
}
/* ****************************************************feature section css***********************************************/
.feature {
  padding: 115px 0 170px;
}
.feature-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #010101;
}
.feature-para {
  margin: 0px auto;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #313841;
}
.thumb-img i {
  font-size: 50px;
}
.thumb-info {
  padding-right: 22px;
}
.thumb-info-heading {
  font-size: 22px;
  color: #010101;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "PT Sans", sans-serif;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.thumb-info-info {
  color: #898989;
  font-size: 16px;
}
/****************************************** footer section css *******************************/
.footer {
  background-color: #010101;
  padding: 96px 0 136px;
}
.footer-heading {
  color: #fcdb00;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
}
.footer-para {
  color: #898989;
  font-size: 20px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
}
.btn-primary,
.email {
  border-radius: 10px;
  border: 0px;
  outline: none;
}
.btn-primary {
  width: 130px;
  margin-left: 15px;
  padding: 20px 35px;
  background-color: #fcdb00;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.email {
  width: calc(100% - 150px);
  padding: 20px 25px;
}
.email::placeholder {
  color: #898989;
  font-size: 16px;
  text-transform: capitalize;
}
.footer .icon{
	margin:78px 0px 132px;
}
.footer .icon li a i {
  font-size: 32px;
  color: #fcdb00;
  font-size:42px;
  /* margin-top:78px; */
  margin:0 16px;

}
.footerlink ul li {
	list-style:none;
	color:#fff;
}
.footerlink li a{
	color:#fff;
	font-size:16px;
	font-family: "PT Sans", sans-serif;
}
.ml-col1{
	margin-left:calc(100% / 12);
}